/* TODO: Consider adding layout styles here instead of using absolute positioning */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
}

.top-section {
  display: flex;
  flex: 2;
  gap: 1rem;
}

.bottom-section {
  flex: 1;
}

