.tile{
    width: 95%;
    height: 40%;
    border: 4px solid black;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    grid-auto-rows: 80px;
    gap: 0;
    overflow: scroll;
}

.squaretiles{
    border: 2px solid rgba(128, 128, 128, 0.5);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
