.tile{
    width: 95%;
    height: 40%;
    border: 4px solid black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.squaretiles{
    width: 50px;
    height: 50px;
    border: 2px solid rgba(128, 128, 128, 0.5);
}