/* FIXED: Now works with flex parent, removed position: absolute */
.ButtonSection {
  width: 100%; /* Takes full width of parent */
  max-width: 800px; /* Prevents it from getting too wide on large screens */
  margin: 0 auto; /* Centers horizontally */
  padding: 2rem;
  border: 4px solid black;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box; /* Includes padding in width calculation */
}

.ButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.PlayerButton,
.BankerButton,
.TieButton,
.UndoButton {
  width: 120px;
  height: 120px;
  border-radius: 50px;
  border: 3px solid black;
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}

.PlayerButton {
  background-color: blue;
}

.BankerButton {
  background-color: red;
}

.TieButton {
  background-color: green;
}

.UndoButton {
  background-color: orange;
}

.PlayerPair,
.BankerPair {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid;
  background-color: white;
  font-weight: bold;
  font-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlayerPair {
  border-color: blue;
  color: blue;
}

.BankerPair {
  border-color: red;
  color: red;
}

/* TODO: Add active state styles for when pair buttons are selected */
/* .PlayerPair.active, .BankerPair.active {
  background-color: #ffd700;
  transform: scale(1.05);
  font-weight: bolder;
} */

/* TODO: Add hover states for all buttons to improve UX */
/* .PlayerButton:hover, .BankerButton:hover, .TieButton:hover, .UndoButton:hover {
  opacity: 0.8;
  cursor: pointer;
} */
