/* TODO: Avoid position: absolute - use Flexbox layout in parent container */
.OptionsGroup {
  width: 6%; /* PROBLEM: 6% is too small on mobile, too large on big screens. Use min-width/max-width */
  height: 40%; /* PROBLEM: Percentage height is unreliable */
  position: absolute; /* FIXME: Use flex layout instead of absolute positioning */
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Menu, .Settings, .Reset, .Info {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  padding: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Menu img, .Settings img, .Reset img, .Info img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}